/* frontend/style.css */

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#resultsContainer, #reverseSearchContainer {
    margin-top: 20px;
}

.result-item, .link-item {
    display: inline-block; /* Use inline-block to allow horizontal alignment */
    margin: 10px; /* Spacing between items */
    text-align: center; /* Center align text below images */
}

.card {
    width: 175px; /* Fixed width for card */
    margin: 10px; /* Spacing between cards */
    border: 1px solid #ccc; /* Optional: border for cards */
    border-radius: 5px; /* Optional: rounded corners */
    padding: 10px; /* Padding within the card */
    background-color: #f9f9f9; /* Optional: background color for cards */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional: shadow effect */
}

img {
    width: 100%; /* Make images take the full width of the card */
    height: 150px; /* Fixed height for uniformity */
    object-fit: cover; /* Ensure images cover the area without stretching */
    border-radius: 5px; /* Rounded corners for images */
}

.loader {
    margin: 0 0 2em;
    height: 100px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: none; /* Hide by default */
    vertical-align: top;
}

svg path,
svg rect {
    fill: #FF6700;
}
